*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(15, 15, 15);
    background-color: rgb(132, 170, 170);
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* line-height: 1.5; */
    }

h1 {
    font-size: 30px;
    margin-bottom: 20px;
} 

/* header, form {
    text-align: center;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 40px auto;
} */

.container {
    margin-bottom: 20px;
}
textarea {
    resize: none;
}